:root {
    --red: #FD5948;
    --yellow: #fbffa7;
    --orange: #ff764d;
    --lightblue: #b2c5ff;
    --purple: #d5b3ff;
    --green: #b6ffc0;
    --blue: #0000ff;
    --bg-primary: #ffffff;
    --bg-secondary: #f3f3f3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-secondary);
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.page {
    background-color: var(--bg-primary);
    margin: 0 auto;
    max-width: 1600px;
}

.header {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.25rem;
}

.header__top-nav {
    padding: 1.25rem 0 1.5rem 0;
    border-bottom: 2px solid var(--bg-secondary);
}

.nav-link-more a {
    color: var(--orange)
}

.logo {
    font-size: 2rem;
    margin-left: 2.5rem;
}

.logo::after {
    content: "\1F3B9\1F3B9";
    font-size: 1.75rem;
    display: block;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    cursor: pointer;
}

.nav-link-account {
    font-size: 1rem;
}

.nav-link[href="#about"] {
    color: var(--orange);
}

.nav-link-try {
    margin-left: auto;
}

.nav-link-try a {
    color: var(--blue);
}

.nav-link-account {
    margin-right: 2rem;
}

.header__bottom-nav {
    padding: 1.25rem 2.5rem;
}

.header__bottom-nav ul {
    display: flex;
}

.header__bottom-nav li {
    font-size: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about__bg-img {
    background-image: url("./img/music-studio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 90%;
    max-width: 1330px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__ableton {
    position: absolute;
    font-size: 8.5rem;
    color: var(--red);
}

.section__heading {
    font-size: 1.875rem;
    font-weight: 600;
    max-width: 800px;
    line-height: 1.4;
    margin-top: 8rem;
}

.section__text {
    font-size: 1.25rem;
    margin-top: 2rem;
    max-width: 800px;
    line-height: 1.5;
    margin-bottom: 8rem;
}

.about__heading a {
    color: var(--blue);
}

.make-music {
    align-items: stretch;
}

.make-music__collage {
    display: flex;
}

.make-music__collage-left-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-music__collage-left-img {
    background-image: url("./img/music-board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 41vw;
    width: 41vw;
    max-height: 660px;
    max-width: 660px;
    align-self: center;
    position: relative;
    left: 8rem;
}

.make-music__collage-right-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    width: 72vw;
    height: 58vw;
    max-height: 930px;
}

.make-music__collage-right-img {
    background-image: url("./img/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    height: 21vw;
    width: 41vw;
    max-width: 533px;
    max-height: 400px;
    margin-left: 8rem;
}

.make-music p {
    align-self: center;
}

.reason iframe {
    width: 100%;
    height: 100%;
    max-width: 800px;
    min-height: 450px;
}

.philosophy {
    align-items: stretch;
}

.philosophy__collage {
    display: flex;
}

.philosophy__collage-left-img-wrapper {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    width: 58vw;
    height: 75vw;
    max-height: 1200px;
}

.philosophy__collage-left-img {
    height: 21vw;
    width: 41vw;
    max-width: 533px;
    max-height: 400px;
    margin-right: 8rem;
}

.philosophy__collage-left-img:first-child {
    background-image: url("./img/whiteboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.philosophy__collage-left-img:last-child {
    background-image: url("./img/stone-wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.philosophy__collage-right-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.philosophy__collage-right-img {
    background-image: url("./img/music-instruments.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 41vw;
    width: 41vw;
    max-height: 660px;
    max-width: 660px;
    align-self: center;
    position: relative;
    right: 8rem;
}
